body {
    background: linear-gradient(#FFFFFF 0%,#666666 70%, #000000 90%);
}

h1 {
    font-size: 140px;
    text-align: center;
    font-style: italic;
    font-family: Helvetica;
}

header {
    display: flex;
    font-size: 140px;
}
